

body{
	font-family: 'Roboto', sans-serif; 
	margin: 0;
}

.header{
	background-color: #C2C2C2;
	font-weight: bold;
	width: 100%
}

.logo-nav{
	display: flex;

	align-items: center;
}

.container{
	width: 85%;
	max-width: 850px;
	
}
.logo{
	width: 65%;
	height: 65%;

}

.admin{
	font-size: 15px;
	margin-bottom: 4%;
	margin-left: 340%;
	
}

.icon-users{
	font-size: 40px;
	
	margin-left: 340%;
	
}

footer{
	background-color: #C2C2C2;
	width: 100%;
	position: fixed;
	bottom: 0;
	align-items: center;
	
}

.container-body{
	display: flex;
	align-items: center;
}
.centro{
	margin-top: 5%;
}
.recuadro-cont{
	display: flex;
	margin-top:0%;
}
.texto{
	font-size: 15px;
	margin-top: 5%;

}


.redes{
	font-size: 20px;
	max-width: 200%;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: 50%;
}

.nameComp{
	margin-top: 10px;
	max-width: 200px;
	font-weight: bold;
	margin-left: 20%;
	margin-top: 10%;
	
}

.ayuda{
	max-width: 400px;
	margin-top: 10%;
	font-weight: bold;

}

.flag{
	max-width: 400px;
	margin-left: 10%;
	margin-top: 10%;
}

.titulo{
	color:#31C6E8;
	text-align: center;
	margin-bottom: 5%;
}

.botonC{
	background-color: #31C6E8;
	border-color: #31C6E8;
	font-size: 150%;
	border-radius: 20px;
	align-self: center;
}	

.imagenes{
}